$first-color: #e3aad1;
$second-color: #f8d7b5;
$first-font-family: "Source Sans Pro", sans-serif;

html {
  font-size: 62.5%;
}

.main-image {
  background-image: url(backgroundprimero.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo-and-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.5rem;
}

.menu {
  font-size: 1.5rem;
  &__item {
    color: white;
    text-decoration: none;
    margin-left: 3rem;
    font-family: $first-font-family;
    font-weight: bold;
  }
  &__item:hover {
    color: $first-color;
  }
}

#buttonwhite {
  color: $first-color;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5rem;

  &:hover {
    background-color: $second-color;
  }
}

.title {
  margin-top: 23rem;
  margin-left: 10rem;

  font-family: $first-font-family;

  &__bold {
    font-weight: bolder;
    font-size: 3rem;
  }
  &__light {
    font-weight: lighter;
    font-size: 2.5rem;
  }
  &__description {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    width: 32.5rem;
    line-height: 2em;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  }
}

.margin-button {
  margin: 3.5rem;
}
.buttonpink {
  color: white;
  text-decoration: none;
  background: rgb(227, 170, 209);
  background: radial-gradient(
    circle,
    rgba(227, 170, 209, 1) 0%,
    rgba(248, 215, 181, 1) 100%
  );
  border-radius: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &:hover {
    color: $second-color;
  }
}

.main-footer-title {
  font-weight: bold;
  text-align: center;
  margin-top: 10rem;
  &__description {
    text-align: center;
  }
}
