$first-color: #e3aad1;
$second-color: #f8d7b5;
$first-font-family: "Source Sans Pro", sans-serif;

html {
  font-size: 62.5%;
}

.main-image {
  background-image: url(backgroundprimero.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo-and-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.5rem;
}

.menu {
  font-size: 1.5rem;
  &__item {
    color: white;
    text-decoration: none;
    margin-left: 3rem;
    font-family: $first-font-family;
    font-weight: bold;
  }
  &__item:hover {
    color: $first-color;
  }
}

#buttonwhite {
  color: $first-color;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5rem;

  &:hover {
    background-color: $second-color;
  }
}

.title {
  margin-top: 14rem;
  margin-left: 10rem;
  font-family: $first-font-family;

  &__bold {
    font-weight: bolder;
  }
  &__light {
    font-weight: lighter;
  }
  &__description {
    margin-top: 1.5rem;
    width: 26.5rem;
    line-height: 2em;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  }
}
